
@{
    ViewData["Title"] = "Index";
}

<h1>Replicator</h1>

<label> Input Replicator: </label>
<input type="text" id="txtEntrada" style="width:300px"/>


<label id="lblMensaje"></label>
<div>
    <label>Replicated:</label>&nbsp;&nbsp;
    <input type="text" id="txtReplicado" style="width:300px" disabled/>
</div>


<div>
    <label id="lblCantidad">Amount of characters:</label>&nbsp;&nbsp;
    <input type="text" id="txtCantidad" style="width:300px" disabled/>
</div>

<div>
    <label>Consonants:</label>&nbsp;&nbsp;
    <input type="text" id="txtConsonants" style="width:350px" disabled />
</div>



<script src="~/js/Views/Replicator/Replicator.js"></script>